.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.App ul {
  list-style: none;
}

.container {
  width: 500px;
  margin-top: 20px;
}

img {
  margin-top: 60px;
  max-width: 100%;
}